.card {
  width: 300px;
  border: 1px solid black;
}

.card p {
  margin: 0;
}

.flexP {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.tag {
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
