.userContainer {
  margin: 10px;
  margin-right: 20;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
}

.icon {
  margin: 16px;
  font-size: 24px;
  cursor: pointer;
}

.avatar {
  margin: 16px;
  cursor: pointer;
}

.header {
  padding: 0;
  background: linear-gradient(to right, rgb(80, 119, 248), rgb(5, 61, 245));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-right-radius: 5px;
}
